{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-4 col-md-5 col-sm-12 col-12 my-auto card bg-secondary">
      <div class="this-weeks-container">
        <h1 class="logo-font text-white text-center">
          This weeks Cyberplate
        </h1>
        <div class="container text-center">
          <img src="media/bitcoin2.jpg" class="home-week-pick rounded-3">
          <h5 class="text-white mt-3">Bitplate €49.99</h5>
          <p class="text-white">Created By: CyberArtWork</p>
        </div>

        <div class="my-5">
          <h4 class="text-center">
            <a href="{% url 'products' %}" class="btn bg-dark btn-lg rounded-3 text-uppercase py-3 text-white">Shop Now</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}