{% extends "base.html" %}
{% load static %}

{% block page_header %}

    <header>
    <!--Navbar taken from bootstrap-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"><large><i class="fab fa-uncharted"></i></large> Cyberplate</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="text-center">
      <p class="navbar-light bg-dark text-white mx-auto">
        Amazing variety of artworks to select from 
      </p>
    </div>
    </header>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-4 col-md-5 my-auto card bg-secondary">
            <h5 class="display-4 logo-font text-white text-center">
                This weeks Cyberplate
            </h5>
            <div class="container text-center">
              <img src="media/bitcoin2.jpg" class="home-week-pick rounded-3">
            </div>
            <div class="my-5">
                <h4 class="text-center">
                    <a href="" class="btn bg-dark btn-lg rounded-3 text-uppercase py-3 text-white" >Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}