{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100 w-100">
  <div class="row h-100">
    <div class="col-4 col-md-6 col-sm-12 col-12 my-auto">
      <div class="this-weeks-container card bg-secondary">
        <h1 class="logo-font text-white text-center mt-2">
          This weeks Cyberplate
        </h1>
        <div class="container text-center">
          <img src="{{ MEDIA_URL }}bitcoin2.jpg" alt="This weeks Cyberplate" class="home-week-pick rounded">
          <h5 class="text-white mt-3">Bitplate €49.99</h5>
          <p class="text-white">Created By: CyberArtWork</p>
        </div>
        {% if request.user.is_authenticated %}
        {% else %}
        <div class="text-center">
          <a class="btn btn-success" href="{% url 'account_login' %}"> Login </a>
          <br>
          <br>
          <a class="btn btn-info" href="{% url 'account_signup' %}">Sign Up</a>
        </div>
        {% endif %}

        <div class="my-5">
          <h4 class="text-center">
            <a href="{% url 'products' %}" class="btn bg-dark btn-primary rounded-3 text-uppercase py-3 text-white pl-5 pr-5">Shop Now</a>
          </h4>
        </div>
      </div>
    
      <br>

    <div class="my-auto card bg-secondary">
      <h4 class="text-white text-center mt-2"> Similar to this weeks Cyberplate </h4>
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner text-center">
          <div class="carousel-item active mb-5 mt-4">
            <img src="{{ MEDIA_URL }}bitloading.png" class="img-bag rounded" alt="Bitplate Cyberplate">
          </div>
          <div class="carousel-item mb-5 mt-4">
            <img src="{{ MEDIA_URL }}ether.jpg" class="img-bag rounded" alt="ether Cyberplate">
          </div>
          <div class="carousel-item mb-5 mt-4">
            <img src="{{ MEDIA_URL }}bitcoin.jpg" class="img-bag rounded" alt="bitcoin Cyberplate">
          </div>
        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
    </div>

  </div>
</div>
</div>

<footer class="footer mt-5 py-3 mx-auto bg-dark">
  <div class="container mx-auto">
    <div class=text-center>
    <i class="text-white fab fa-facebook-square fa-2x"></i>
    <i class="text-white fab fa-twitter-square fa-2x"></i>
    <i class="text-white fab fa-linkedin fa-2x"></i>
    <i class="text-white fab fa-instagram-square fa-2x"></i>
    </div>
  </div>
</footer>
{% endblock %}