{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="overlay"></div>
    <div class="row h-100">
        <div class="col card">
            <hr>
            <h3 class="logo-font">My Profile</h3>
            <div class="row">
                <div class="col-lg-6">
                    <h6 class="logo-font">Information</h6>
                    <form action="{% url 'profile' %}" method="POST" id="user-profile-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn float-right bg-dark rounded-3 py-3 text-white mt-3"
                            id="btnUpdateProfile">Update this information <i class="fas fa-lock"></i>
                        </button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <p class="text-muted">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.users_order_number %}"
                                            title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.order_date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {% if item.product.has_sizes %}
                                                Size {{ item.product.size|upper }}
                                                {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.order_total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}