{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="overlay"></div>
    <div class="row h-100">
        <div class="col card">
            <hr>
            <h3 class="logo-font">My Profile</h3>
            <div class="row">
                <div class="col-lg-6">
                    <h6 class="logo-font">Profile Information</h6>
                    <form action="{% url 'profile' %}" method="POST" id="user-profile-form"></form>
                    {% crsf_token %}
                    {{ form|crispy }}
                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}
