{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="overlay"></div>
    <div class="row h-100">
        <div class="col card">
            <hr>
            <h3 class="logo-font">Payment Details</h3>
            <div>
                <hr>
                <h6 class="logo-font">Please fill out the form below:</h6>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset>
                        {{ users_order.first_name | as_crispy_field }}
                        {{ users_order.last_name | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <fieldset>
                        {{ users_order.email | as_crispy_field }}
                        {{ users_order.phone | as_crispy_field }}
                        {{ users_order.street | as_crispy_field }}
                        {{ users_order.town | as_crispy_field }}
                    </fieldset>
                    <hr>
                    <!-- Taken directly from the Code Institutes walkthrough Project Boutique Ado -->
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <hr class="card_display">
                    <fieldset>
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                    </fieldset>
                    <fieldset>
                        <h2><a href="{% url 'shopping_bag' %}" class="btn bg-dark rounded-3 py-3 text-white mt-3"><i
                                    class="fas fa-caret-square-left"></i> Back to adjust bag</a>
                            <button class="btn float-right bg-dark rounded-3 py-3 text-white mt-3"
                                id="btnSubmit">Complete Order <i class="fas fa-lock"></i>
                            </button>

                        </h2>
                        <p class="float-right text-danger">Your card will be charged €{{ grand_total|floatformat:2 }}
                        </p>
                    </fieldset>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}