{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="overlay"></div>
    <div class="row h-100">
        <div class="col card">
            <hr>
            {% if from_profile %}
            <h3 class="logo-font">Previous Order Details </h3>
            {% else %}
            <h3 class="logo-font">Order Complete! </h3>
            {% endif %}
            <div>
                <hr>
                {% if from_profile %}
                <h5 class="logo-font">You previously ordered this on the {{ order.order_date }}</h5>
                {% else %}
                <h5 class="logo-font">Your Order Has Been Complete, details below:</h5>
                {% endif %}
                <hr>
                <br>
                <h5 class="logo-font">Thanks {{ order.first_name }}</h5>
                <h6 class="logo-font">An email has been sent to {{ order.email }}</h6>
                <br>
                <div class="container-fluid mt-5 justify-content-center">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <h6>Order Number:</h6>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6>{{ order.users_order_number }}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <h6>First Name:</h6>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6>{{ order.first_name }}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <h6>Last Name:</h6>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6>{{ order.last_name }}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <h6>Address:</h6>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6>{{ order.street }}</h6>
                        <h6>{{ order.town }}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <h6>Amount Charged:</h6>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6>{{ grand_total|floatformat:2 }}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-4">
                        <h6>Date:</h6>
                    </div>
                    <div class="col-12 col-md-4">
                        <h6>{{ order.order_date }}</h6>
                    </div> 
                </div>
                <br>
                <br>
                <br>
                <div class="row justify-content-between mx-auto">
                    <h1> <i class="fas fa-user-astronaut mx-auto"></i> </h1>
                    <h1> <i class="fas fa-atom mx-auto"></i> </h1>
                    <h1> <i class="fas fa-radiation-alt mx-auto"></i> </h1>
                    <h1> <i class="fas fa-laptop-code mx-auto"></i> </h1>
                </div>
                {% if from_profile %}
                <p class="text-center mt-5">
                    <a href="{% url 'products' %}" class="float-left btn bg-dark rounded-3 py-3 ml-2 text-white mt-3"><i
                      class="fas fa-caret-square-left"></i> All Cyberplates</a>
                    <a href="{% url 'profile' %}"
                      class="btn bg-dark float-right rounded-3 py-3 mr-2 text-white mt-3">Back to Profile <i class=" ml-3 fas fa-user"></i></a>
                  </p>
                {% else %}
                <a href="{% url 'products' %}" class="float-left btn bg-dark rounded-3 py-3 ml-2 text-white mt-3"><i
                    class="fas fa-caret-square-left"></i> All Cyberplates</a>
                {% endif %}
            </div>
            </div>
        </div>

    </div>
</div>
</div>

{% endblock %}

{% block postload_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ stripe_secret_key|json_script:"id_stripe_secret_key" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}