@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('/media/ms4background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.home-week-pick {
    height: 300px;
    max-width: 460;
    overflow-x: none;
}

.card {
    opacity: 0.9
}

.this-weeks-container div img {
    opacity: 1
}


@media (max-width: 1204px) {
    .this-weeks-container div img {
        height: 160px;
        width: 240px;
    }
}

/* ------------------------------- Artist view */

.artist-img {
    height: 240px;
    width: 400px;
}

.related-work-img{
    height: 240px;
    width: 380px;
}

@media (max-width: 538px) {
    .artist-img {
        height: 120px;
        width: 210px;
    }
}
@media (max-width: 538px) {
    .related-work-img{
        height: 120px;
        width: 260px;
    }


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/*------ bag -----*/

.img-bag {
    width: 230px;
    height: 140px;
}