@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('/media/ms4background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.home-week-pick {
    height: 300px;
    max-width: 460;
    overflow-x: none;
}

.card {
    opacity: 0.9
}

.this-weeks-container div img {
    opacity: 1
}


@media (max-width: 1204px) {
    .this-weeks-container div img {
        height: 160px;
        width: 240px;
    }
}

/*------ bag -----*/

.img-bag {
    width: 160px;
    height: 100px;
}