{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block page_header %}
{% endblock %}

{% block content %}

<div class="container h-100">
  <div class="row h-100">
    <div class="col-12">
      <div class="bg-secondary rounded-lg">
      <h2 class="logo-font mt-5 text-white py-2 ml-2">My Cyberplate Shopping Bag</h2>
      <p class="text-white logo-font py-2 ml-2"> Your order summery is below: </p>
      {% if bag_items %}
      <div class="row">
        <div class="col">
      <div class="d-block d-md-none"> {% include "shopping_bag/checkout-button.html" %}</div>
    </div>
  </div>
      {% endif %}
    </div>
    </div>


    <div class="row">
      <div class="col-12">
        {% if bag_items %}
        <div class="d-block d-md-none">
          <br>
          {% for cyberplate in bag_items %}
          <div class="row target-bag-color target-bag-sm rounded">
            <div class="container center">
            <div class="col-12 text-center">{% include "shopping_bag/image.html" %}</div>
            <div class="col-12 text-center">{% include "shopping_bag/info.html" %}</div>
            <div class="col-12 text-center">
              <p class="text-white mt-4"><strong>€{{ cyberplate.product.price }} </strong></p>
              <p class="text-white mt-4"><strong>Subtotal €{{ cyberplate.product.price | calc_sub:cyberplate.quantity }} </strong></p>
            </div>
            <div class="col-12 col-m-6 ">
              <div class="col-12 ">{% include "shopping_bag/quantity.html" %}</div>
            </div>
            <div class="col-12"><hr class="text-white"></div>
          </div>
        </div>
          {% endfor %}
        </div>
        <div class="table-responsive rounded target-bag-color d-none d-md-block">
          <table class="table table-sm mx-auto">
            <tr class="text-white">
              <th scope="col">Product</th>
              <th scope="col"></th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
            </tr>

            {% for cyberplate in bag_items %}
            <tr>
              <td>

                {% include "shopping_bag/image.html" %}
              </td>
              <td class=" py-5 text-white">

                {% include "shopping_bag/info.html" %}
              </td>
              <td class=" py-5 text-white w-20">
                <p class="text-white mt-4"><strong>€{{ cyberplate.product.price }} </strong></p>
              </td>
              <td class=" py-5 text-white w-25">

                {% include "shopping_bag/quantity.html" %}

              </td>
              <td class=" py-5 text-white">
                <p class="text-white mt-4"><strong> €{{ cyberplate.product.price | calc_sub:cyberplate.quantity }}
                  </strong></p>
              </td>
            </tr>


            {% endfor %}

          </table>
          <div class="mb-2">
            {% include "shopping_bag/checkout-button.html" %}
          </div>
        </div>
        {% else %}
        <div class="reponsive-table">
          <h3 class="text-white text-center">
            There is nothing in your shopping bag. Return to Cyberplates
          </h3>
          <p class="text-center mx-auto ml-5">
            <h2><a href="{% url 'products' %}" class="btn bg-dark rounded-3 py-3 text-white mt-3"><i
                  class="fas fa-caret-square-left"></i> All Cyberplates</a></h2>
          </p>
        </div>
        {% endif %}
      </div>
    </div>




  </div>
</div>

  {% endblock %}

  {% block postload_js %}
  {{ block.super }}
  {% include 'products/includes/quantity_input_script.html' %}

  <script>
    // Update quantity on click
    $('.update-link').click(function (e) {
      var form = $(this).prev('.update-form');
      form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function (e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr('id').split('remove_')[1];
      var size = $(this).data('product_size');
      var url = `/shopping_bag/remove/${itemId}/`;
      var data = {
        'csrfmiddlewaretoken': csrfToken,
        'product_size': size
      };

      $.post(url, data)
        .done(function () {
          location.reload();
        });
    })
  </script>
  {% endblock %}