<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <!-- base template was largely influenced by CI walkthrough project Boutique Ado and is used to extend to other templates -->

  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <!-- Bootstrap CSS -->
  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  <!-- Stripe/JQuery and Bootsrap Javascript -->
  {% block corejs %}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Cyberplate</title>
</head>

<body>
  <!--Navbar taken from bootstrap-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <i class="fab fa-uncharted fa-lg"></i> Cyberplate
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/products/">All Cyberplates</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link" href="/products/artists/">Artists</a>
        </li>
        <li class="nav-item ml-3 d-flex justify-content-center">
          <a class="nav nav-link" href="/products/?category_selected=1"><i class="fas fa-user-astronaut fa-lg text-info"></i>
            Space</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav nav-link" href="/products/?category_selected=2"><i class="fab fa-bitcoin fa-lg text-danger"></i>
            Cryptocurrency</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav nav-link" href="/products/?category_selected=3"><i class="fab fa-canadian-maple-leaf fa-lg text-warning"></i>
            Nature</a>
        </li>
        <li class="nav-item d-flex justify-content-center">
          <a class="nav nav-link" href="/products/?category_selected=4"><i class="fas fa-gamepad fa-lg text-success"></i> Games</a>
        </li>
      </ul>


      <form class="form-inline my-2 my-lg-0 ml-auto" method="GET" action="/products/">
        <input class="form-control mr-sm-2" type="search" NAME="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

      <!-- Taken from CI walkthrough project Boutique Ado -->

      <div class="nav-item nav nav-link dropdown">
        <a class="nav-link nav dropdown-toggle d-flex" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{% if request.user.is_authenticated %} <h6 class="text-success">
            Welcome {{ request.user }} <i class="fas fa-user-check fa-lg text-success"></i></h6>{% else %} User <i
            class=" ml-1 fas fa-user fa-lg"></i>{% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
          <a class="dropdown-item nav nav-link d-flex" href="{% url 'add_product' %}"><i
              class="ml-3 fab fa-uncharted mr-1 fa-lg"></i> Add</a>
          {% endif %}
          <a class="dropdown-item nav nav-link d-flex" href="{% url 'profile' %}"> <i
              class=" ml-3 fas fa-user mr-1 fa-lg"></i> My Profile</a>
          <a class="dropdown-item nav nav-link d-flex" href="{% url 'account_logout' %}"> <i
              class=" ml-3 fas fa-sign-out-alt mr-1 fa-lg"></i> Logout</a>
          {% else %}
          <a class="dropdown-item nav nav-link d-flex" href="{% url 'account_signup' %}"><i
              class="ml-3 fas fa-user-plus mr-1 fa-lg"></i> Register</a>
          <a class="dropdown-item nav nav-link d-flex" href="{% url 'account_login' %}"> <i
              class="ml-3 fas fa-sign-in-alt mr-1 fa-lg"></i> Login</a>
          {% endif %}
        </div>
      </div>

      <a href="/shopping_bag/shopping_bag">
        <p class="my-1 ml-1 mr-2">
          {% if grand_total %}
          <i class="fas fa-shopping-bag text-success"> €{{ grand_total|floatformat:2 }}</i>
          {% else %}
          €10.00
          {% endif %}
        </p>
      </a>
    </div>
  </nav>
  <div class="text-center">
    <p class="navbar-light bg-dark text-white mx-auto">
      Amazing variety of artworks to select from
    </p>
  </div>


  {% if messages %}
  <div class="messages-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postload_js %}
  <script>
    $(document).ready(function () {
      $('.toast').toast('show');
    });
  </script>
  {% endblock %}


</body>

</html>