{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-12 card bg-secondary">

        <div class="card shadow-lg mb-4 bg-white border-3 mt-3 mr-5 ml-5">
          <div class="d-flex justify-content-center">
        <img src="{{ MEDIA_URL }}{{ selected_artist.image }}" class="rounded-lg artist-img mt-5" alt="selected_artist.name">
          </div>  
        <br>
        <br>
        <div class="card shadow-lg mb-4 bg-white border-3 mt-3 mr-5 ml-5">

        </div>
        <h2 class="text-center text-black"> Description </h2>
        <p class="text-center">
          {{ selected_artist.artist_description }}
        </p>
        <hr>
        <h2 class="text-center text-black"> Related Work </h2>

        <div class="d-flex justify-content-center row mr-5 ml-5 mb-5">
        {% for related_work in artists_products %}
          <div class="card col-12 mx-auto bg-secondary mr-5 ml-5 mt-3 text-white text-uppercase">
            <h5 class="text-center mt-2 bg-dark slider pt-1">{{ related_work.name }}<i class="css-target fas fa-plus-square fa-minus-square float-right mr-2 mt-1 mb-1 pb-1"></i></h5>
            <a href="{% url 'product_view' related_work.id %}" class="mx-auto"><img src="{{ MEDIA_URL }}{{ related_work.image }}" class="related-work-img mx-auto mb-2 img-thumbnail" alt="artist.name"></a>
        </div>
        {% endfor %}
        </div>

        <p class="text-center">
          <a href="{% url 'artists' %}" class="float-left btn bg-dark rounded-3 py-3 ml-2 text-white mt-3"><i
            class="fas fa-caret-square-left"></i> Back to Artists</a>
        </p>
        </div>

    </div>
  </div>
</div>

{% endblock %}

{% block postload_js %}

<!--Gives toggle function to the artists work-->

  <script>
    $(document).ready(function(){
    $(".related-work-img").hide()

    $(".slider").click(function (e) {
        e.preventDefault();
        $(this).next("a").children(".related-work-img").slideToggle('slow');
        $(this).children("i").toggleClass("fa-plus-square", 1000);
    });
  
    $(".slider").hover(function () {
        $(this).css("box-shadow", "0 0 25px rgb(49, 46, 46)")
    }, function () {
        $(this).css("box-shadow", "none");
    });
    })
  </script>
{% endblock %}