{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
  <div class="row h-100">
    <div class="col-12 card">
      <div class="row">
        <div class="col text-black logo-font text-center mt-3">
          <h2>Cyberplates</h2>
          <hr>

        </div>
      </div>

      <div class="row">
        {% for cyberplate in all_products %}
        <div class="col-lg-4 col-sm-12">
          <div class="card bg-secondary border-3 mt-3">
            <h5 class="text-center text-white mt-2">{{ cyberplate.name }}</h5>
            <img src="{{ MEDIA_URL }}{{ cyberplate.image }}" alt="cyberplate.name">

            <hr>
            <p class="text-center text-white">€ {{ cyberplate.price }}</p>
            <p class="text-center">
              <a href="{% url 'product_view' cyberplate.id %}" class="btn bg-dark rounded-3 py-3 text-white">View Cyberplate</a>
            </p>
            <p class="text-center text-white">{{ cyberplate.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}